body {
    font-family: 'Roboto', sans-serif !important;
    background: url("../img/bg.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box !important;
}

.menu {

}

.b-red {
    border-bottom: 2px solid red;
}

.b-red a:hover {
    color: red !important;
}

.b-red.active a {
    color: red !important;
}

.b-pink {
    border-bottom: 2px solid hotpink;
}

.b-pink a:hover {
    color: hotpink !important;
}

.b-pink.active a {
    color: hotpink !important;
}


.b-blue {
    border-bottom: 2px solid #3794FF;
}

.b-blue a:hover {
    color: #3794FF !important;
}

.b-blue.active a {
    color: #3794FF !important;
}

.b-purple {
    border-bottom: 2px solid #BC3CDE;
}

.b-purple a:hover {
    color: #BC3CDE !important;
}

.b-purple.active a {
    color: #BC3CDE !important;
}

.b-green {
    border-bottom: 2px solid #00DFDA;
}

.b-green a:hover {
    color: #00DFDA !important;
}

.b-green.active a {
    color: #00DFDA !important;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li {

    padding-bottom: 3px;
}

.menu a {
    font-weight: bold;
    transition: color .3s;
}

.main {
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
}

.main h5 {
    word-break: break-all;
}

.grid-item {
    width: 25%;
}

.grid-item--width2 {
    width: 50%;
}

.images {
    border: 3px solid #dc3545 !important;
}

.admin {
    position: relative;

}

.container-menu {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid darkgray;
    padding: 15px;
}

.admin p {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    text-align: center;
    background-color: #000000b8;
    width: 100%;
    font-weight: bold;
    padding: 3px;
}


@media only screen and (max-width: 991px) {
    .admin {
        margin-bottom: 15px !important;
    }
}